{% extends 'base.html' %}

{% block title %}Operator Details{% endblock %}

{% block content %}
<h2>{{ object.name }}</h2>

{% if object.logo %}
    <img src="{{ object.logo.url }}" alt="{{ object.name }}" class="operator-logo">
{% endif %}

<p>{{ object.description }}</p>

<div class="action-links">
    <a class="button" href="{% url 'operator-list' %}">Back to List</a>
    <a class="button" href="{% url 'servicepackage-create' operator_id=object.pk %}">Create Service</a>
    <a class="button" href="{% url 'servicepackage-list' operator_id=object.pk %}">All Services</a>

</div>
{% endblock %}
